.signUpFormContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 70%;
}

.signUpFormContainer input {
	width: 390px;
	height: 52px;
	margin-bottom: 45px;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-color: #eeeeee;
	border-width: 1px;
	border-style: solid;
}

input {
	border-color: #f4f4f4;
	border-width: 0.5px;
	color: black;
	padding-left: 10px;
	outline: none;
	border-style: solid;
}

.signUpFormContainer input:Hover {
	border-color: #9f7a49;
}
